html, body {
	position: absolute;
	width: 100%;
	height: 100%;
	user-select: none;
	overflow: hidden;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.subtitle .b{
	padding-right: 10px;
	padding-left: 10px;
    font-weight: bolder;
}
#title h1 {
	font-size: 3em;
}
@screen and (min-height : 500px){
	#title h1 {
		font-size: 5em;
	}
	
}
