<div id="credits">
	<h1> Kiddo's game </h1>
	<p> made (almost) from scratch, for <br />
		"the very first extra credits game jam" </p>
	<p> by the Evieux family (Gwen, David and Boris, a.k.a. "Mommy", "Kiddo" and "Daddy") </p>
	<p> <b>Sound credits</b> :
		<br/>
		<br/> Sword Fight
		<br/>
		<a href="https://freesound.org/people/FunWithSound/sounds/361483/">https://freesound.org/people/FunWithSound/sounds/361483/</a>
		<br/> By FunWithSound
		<br/>
		<br/> Win
		<br/>
		<a href="https://freesound.org/people/rhodesmas/sounds/320775/">https://freesound.org/people/rhodesmas/sounds/320775/</a>
		<br/> rhodesmas
		<br/>
		<br/> Teddy Bear Waltz
		<br/>
		<a href="https://incompetech.com/music/royalty-free/music.html">https://incompetech.com/music/royalty-free/music.html</a>
		<br/> Kevin MacLeod (incompetech.com)
		<br/>
		<br/>  pauseStart.wav 

		<br/>
		<a href="https://freesound.org/people/Wagna/sounds/326418/">https://freesound.org/people/Wagna/sounds/326418/</a>
		<br/>    Wagna   
		<br/>
	</p>
	<p> <b>image credits</b> :
		<br>
		<br> Vectorized Playing Cards 2.0 -
		<a href="http://sourceforge.net/projects/vector-cards/">http://sourceforge.net/projects/vector-cards/</a>
		<br> Copyright 2015 - Chris Aguilar - conjurenation@gmail.com
		<br> Licensed under LGPL 3 - www.gnu.org/copyleft/lesser.html
		<br>
	</p>
	<p>HTML templating is done with the <a href="https://svelte.technology">svelte framework</a></p>
	<p>Hope you enjoyed it ! </p>
</div>
<style>
	#credits{
	    background: rgba(220,220,200,0.9);
	    border-radius: 15px 5px 70px 5px;
	    padding: 30px;
	}
	h1 {}

	p {font-family: Arial, Helvetica, sans-serif}
</style>