<button on:click='onClick(event)'>{text}</button>
<script>
	export default {
		data() {
			return {
				text : "Start the game",
				action : function(event){
					console.log("default listener of startbutton")
				}
			};
		},
		methods:{
			onClick(event){
				const {action} = this.get();
				console.log("start", event);
				action && action(event, this);
				event.stopImmediatePropagation();
				event.preventDefault();
			}
		}
	};
</script>