<div id="title">
	<h1><br /> Kiddo's game </h1>
	<p>A very short game, rated C for maximum cuteness</p>
	<p></p>
	<p>gameplay hints were cut due to time and cheesiness</p>
	<p><i>Just click & drag things to win !</i></p>
	{#if go}
		<button on:click='onClick(event)'>{text}</button>
	{:else}
		<AssetLoader />
	{/if}
</div>
<style>
	#title{
	    background: rgba(220,220,200,0.95);
	    width: 100%;
	    height: 100%;
	    margin-bottom: 54px;
	    text-align : center;
	}

	p {font-family: Arial, Helvetica, sans-serif}
</style>
<script>
	import AssetLoader from "./AssetLoader.html";
	export default {
		components: {
			AssetLoader
		},
		data() {
			return {
				text : "Start the game",
				go : false,
				action : function(event){
					console.log("default listener of startbutton")
				}
			};
		},
		methods:{
			onClick(event){
				const {action} = this.get();
				console.log("start", event);
				action && action(event, this);
				event.stopImmediatePropagation();
				event.preventDefault();
				this.destroy();
			}
		}
	};
</script>