<canvas ref:canvas width='{cw}' height='{ch}' style='left:{cl}px; top:{ct}px;'/>
<div id="subtitles" style='width:{cw}px; height:{sh}px;left:{cl}px; top:{ct}px;'>
{#each subs as sub}
	<span class="subtitle">{@html sub}</span>
{/each}
</div>
<div id="interface" style='width:{cw}px; height:{ch}px;left:{cl}px; top:{ct}px;; cursor: {hovered && hovered.drag ? dragging ? "grabbing" : "grab" : hovered && hovered.click ? "pointer" : "default"};'
	on:touchstart='onTouchStart(event)' on:touchend='onTouchEnd(event)' on:touchmove='onTouchMove(event)'
	on:mouseleave='onDragEnd(event)'
	on:mousewheel='onWheel(event)'>
	<div ref:interfaceHolder />
</div>

{#if false && process.env.NODE_ENV==="dev"}
<script src="http://{(location.host || 'localhost').split(':')[0]}:35729/livereload.js?snipver=1"></script>
{/if}
<svelte:Head>
  	<title>kiddo's game</title>
	<meta name="viewport" content="user-scalable=no"/>
</svelte:Head>
<svelte:window
	on:keypress='onKeyPress(event)' on:keydown='onKeyDown(event)'
	on:tap='onTap(event)' on:click='onClick(event)'
	on:mousedown='onDragStart(event)' on:mouseup='onDragEnd(event)' on:mousemove="onMouseMove(event)"
	bind:innerWidth="W" bind:innerHeight="H"
	/>

<style>
canvas{
	position:relative;
	cursor: crosshair;
	scale:0.5;
	transform-origin: top left;
}
#interface{
	position : fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	cursor: crosshair;
	transform-origin: top left;
}
#subtitles{
	position : fixed;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transform-origin: top left;
}
#subtitles>span{
    display: flex;
    text-align: center;
    font-family: "Arial";
    font-weight: bold;
    font-size : 1.35em;
}
.b{
	padding-right: 10px;
	padding-left: 10px;
    font-weight: bolder;
}
/*span{
	position:relative;
	top:15px;
}*/
</style>

<script>
	import engine from "./engine.js";
	import glutils from "./glutils.js";
	import {V3, V2} from "./math/vectors.js";
	import {M4, M3} from "./math/matrices.js";
	import scenes from "./assets/scenes.js";
	import subtitles from "./assets/sous-titres.js";
	const 	MARGIN=0.5,
			MARGINx2 = MARGIN*2,
			SUBTITLE_MARGIN = 20,
			PIXELSPERSECOND = 50;
	export default {

		data() {
			return {
				location:window.location,
				renderWidth : 1280,
				renderHeight: 800,
				hovered : null,
				cw : 1280,
				ch: 800,
				subs : ["", ""],
				dragging : false,
				lang : "en"
			};
		},

		computed: {
			ratio: ({renderWidth, renderHeight}) => renderWidth / renderHeight,
			cw: ({ch, ratio}) => ch * ratio,
			ch: ({H, W, ratio}) => {
				const   possibleWidth = W - MARGINx2,
						bestHeight = possibleWidth / ratio,
						possibleHeight = H - MARGINx2;
				return Math.min(bestHeight, possibleHeight);
			},
			sh: ({ch}) => ch - SUBTITLE_MARGIN,//Math.max(Math.min(H-50-MARGINx2, (W-MARGINx2) * 0.75), 0.0),
			ct: ({H}) => MARGIN,
			sc: ({renderHeight, ch}) => {
				return ch / renderHeight;
			},
			cl: ({W,cw}) => (W - cw) /2
		},
		methods:{
			mousePosToGamePos(mouseX, mouseY){
				const   {ct, cl, sc, ch} = this.get(),
						mousePos = V2.sub(V2.create(mouseX, ch-MARGIN-mouseY), V2.create(cl, ct));
				return V2.scale(mousePos, 1/sc);
			},
			onDragStart(event) {
				const   {renderer, cl, ct} = this.get(),
						state = {
							dragging: true,
							startedDragging: true,
							dragStart: this.mousePosToGamePos(event.pageX,event.pageY),
							dragPos: this.mousePosToGamePos(event.pageX,event.pageY)
						};
				engine.updateInputs(renderer, state);
				this.set(state);
			},

			playVoice(name, options) {
				this.onSoundStart(name);
				return (engine.playSound(name, options)
						.then(_=>this.onSoundEnd(name)));
			},

			onSoundStart(name) {
				const 	{lang, subs} = this.get(),
						sub = subtitles[lang][name];
				if(sub){
					if(subs[0] === "")
						subs[0] = sub;
					else if(subs[1] === "")
						subs[1] = sub;
					else{
						subs[0] = subs[1];
						subs[1] = sub;
					}
					this.set({subs});
				}
			},

			onSoundEnd(name) {
				const 	{lang, subs} = this.get(),
						sub = subtitles[lang][name];
				if(sub){
					const idx = subs.indexOf(sub);
					if(idx!==-1){
						subs[idx] = "";
						this.set({subs});
					}
				}
			},

			onTouchStart(event) {
				console.log(" onTouchStart ", event.touches.length)
				if(event.touches && event.touches.length === 1){
					// debugger;
					const   touch = event.touches.item(0);
					this.onDragStart(touch);
				}
				//event.preventDefault();
			},

			onTouchEnd(event) {
				console.log(" onTouchEnd ", event.changedTouches.length)
				if(event.changedTouches && event.changedTouches.length === 1){
					this.onDragEnd();
				}
				//event.preventDefault();
			},

			onTouchMove(event) {
				console.log(" onTouchMove ", event.touches.length)
				if(event.touches && event.touches.length === 1){
					const   touch = event.touches.item(0);
					this.onMouseMove(touch)
				}
				event.preventDefault();
			},

			onMouseMove(event) {
				const   {sc, cl, ct, dragging, dragPos, renderer, renderHeight } = this.get(),
						mousePos = this.mousePosToGamePos(event.pageX,event.pageY),
						state = {
							mousePos
						};
				if (dragging) {
					state.dragging = true;
					state.startedDragging = false;
					state.dragPos = mousePos;
				}
				// console.log(state.mousePos, ct, sc);
				engine.updateInputs(renderer, state);
				this.set(state);
			},
			onDragEnd() {
				const   {renderer} = this.get();
				this.set({dragging: false,  dragPos: null});
				engine.updateInputs(renderer, {dragging: true, stoppedDragging:true, dragPos: null});
			},

			onTap(event) {
				this.onClick(event);
			},

			onClick(event) {
				const   {sc, cl, ct, dragging, dragPos, renderer, renderHeight } = this.get(),
						//pos = V2.create(event.clientX - cl, event.clientY + ct),
						state = {
							mousePos: this.mousePosToGamePos(event.pageX,event.pageY),
							clicked : true
						};
				engine.updateInputs(renderer, state);
				this.set(state);
				/*const 	{ ch, ct, cl } = this.get(),
						tex = engine.renderer.textures.emeraude;
				this.createSprite(tex, {
					pos : V2.create(event.clientX - cl, ch - event.clientY + ct),
					w : 100, h : 100
				});*/
			},

			onWheel(event) {
			},

			onKeyUp(event) {
				switch(event.key){
					case "ArrowRight" : 
						break;
					case "ArrowLeft" : 
						break;
					case "ArrowUp" : 
						break;
					case "ArrowDown" : 
						break;
					default:
				}
			},
			onKeyDown(event) {
				switch(event.key){
					case "ArrowRight" :
						break;
					case "ArrowLeft" : 
						break;
					case "ArrowUp" : 
						break;
					case "ArrowDown" : 
						break;
					default:
				}
			},

			onKeyPress(event) {
				console.log("keyPressed", event.key);
				switch(event.key){
					case "Enter" : 
						break;
					case " " : 
						break;
					default:
				}
			},

			setScene(name) {
				console.log("entered scene", name);
			},

			postRender(hovered, inputState) {
				this.set({hovered});
			},

			addInterface(clazz, options = {}) {
				const	holder = this.refs.interfaceHolder,
						params = {
							target : holder
						};

				if(clazz){
					const currentInterface = new clazz(params);
					currentInterface.set(options);
					return currentInterface;
				}
				return null;
			},

		},
		ondestroy() {
			this.set({ctx : null});
		},

		oncreate() {
			const 	canvas = this.refs.canvas,
					{renderWidth, renderHeight} = this.get(),
					viewport = {x:0, y:0, width : renderWidth, height : renderHeight},
					audio = true,
					{world, renderer} = engine.init({canvas, audio, viewport, postRender : (...params)=>this.postRender(...params)});

			engine.start();
			scenes(world, engine, this);
			
			this.on('state', () =>{
				const {renderWidth, renderHeight} = this.get();
				renderer.viewport = {x:0, y:0, width : renderWidth, height : renderHeight};
			});
			this.on('destroy', () =>{
				set({destroyed : true});
				engine.stop();
			});

			this.set({renderer, world});

			//solve unresponsive keyup in chromium on linux
			document.addEventListener('keyup', this.onKeyUp.bind(this));
		},

	};

</script>