<canvas ref:canvas width='{cw}' height='{ch}' style='left:{cl}px; top:{ct}px'
	on:mousedown='onDragStart(event)' on:mouseup='onDragEnd(event)' on:mouseleave='onDragEnd(event)'
	on:mousewheel='onWheel(event)' on:mousemove="onMouseMove(event)"/>

<svelte:head>
  <title>tagada-tsoin</title>
</svelte:head>
<svelte:window
	on:keypress='onKeyPress(event)' on:keydown='onKeyDown(event)'
	on:tap='onTap(event)' on:click='onClick(event)'
	bind:innerWidth="W" bind:innerHeight="H"
	/>

<style>
canvas{
	position:relative;
	scale:0.5;
}
/*span{
	position:relative;
	top:15px;
}*/
</style>

<script>
	import engine from "./engine.js";
	import glutils from "./glutils.js";
	import {V3, V2} from "./math/vectors.js";
	import {M4, M3} from "./math/matrices.js";
	import sprite_vertex from "./shaders/sprite.vs";
	import sprite_fragment from "./shaders/sprite.fs";
	import vertex_shader from "./shaders/origami.vs";
	import fragment_shader from "./shaders/origami.fs";
	const 	MARGIN=10,
			MARGINx2 = MARGIN*2,
			PIXELSPERSECOND = 50,
			PI = Math.PI,
			TWOPI = PI * 2.0,
			PIOVERTWO = PI / 2.0,
			DEFAULT_ORBIT = {theta : 0.0 * PIOVERTWO, dist : 2.5, speedT : 0.0, speedH : 0.0, height: 1.0};
	var layer_idx = 0;
	export default {
		data() {
			return {
				location:window.location,
				cw : 500,
				dragging : false,
				orbit :  Object.assign({},DEFAULT_ORBIT),
				cachedVP: {w:0,h:0},
				printNextMatrix : false,
				isOrtho : false,
				orthoWidth:10.0,
				ch: 400,
			};
		},

		computed: {
			cw: ({W}) => Math.max(W-MARGINx2, 0.0),
			ch: ({H, W}) => Math.max(Math.min(H-50-MARGINx2, (W-MARGINx2) * 0.75), 0.0),
			ct: ({W}) => MARGIN,
			cl: ({W}) => MARGIN,
			camPos: (orbit)=> V3.create(Math.cos(orbit.theta) * orbit.dist, orbit.height, -Math.sin(orbit.theta) * orbit.dist),
		},
		methods:{
			onDragStart(event) {
				console.log("dragging canvas!");
				this.set({dragging: true, dragPos: V2.create(event.clientX, event.clientY)});
			},

			onMouseMove(event) {
				let { dragging, orbit, dragPos } = this.get();
				if (dragging) {
					let pos = V2.create(event.clientX, event.clientY),
						delta = V2.sub(dragPos, pos);
					orbit.height -= delta.y * 0.005 * orbit.dist;
					orbit.theta += delta.x * 0.005;
					console.log("not dragging canvas anymore");
					this.set({orbit, dragPos : pos});
				}
			},

			onTap(event) {
				// let { tex, ch } = this.get();
				// this.createSprite(tex, V2.create(event.clientX, ch - event.clientY))
			},

			onClick(event) {
				// let { tex, ch } = this.get();
				// this.createSprite(tex, V2.create(event.clientX, ch - event.clientY))
			},

			onWheel(event) {
				let { orbit } = this.get(),
					{theta, dist, speedT, speedH, height} = orbit;
				dist += Math.sign(event.deltaY) * .15;
				if(dist < 0.5)
					dist = 0.5;
				if(dist > 15.0)
					dist = 15.0;
				this.set({orbit : {theta, dist, speedT, speedH, height}});
			},

			onKeyUp(event) {
				let { orbit } = this.get(),
					{theta, dist, speedT, speedH, height} = orbit;
				console.log("keyUp", event.key);
				switch(event.key){
					case "ArrowRight" : 
						speedT = 0.0;
						this.set({orbit : {theta, dist, speedT, speedH, height}});
						break;
					case "ArrowLeft" : 
						speedT = 0.0;
						this.set({orbit : {theta, dist, speedT, speedH, height}});
						break;
					case "ArrowUp" : 
						speedH = 0.0;
						this.set({orbit : {theta, dist, speedT, speedH, height}});
						break;
					case "ArrowDown" : 
						speedH = 0.0;
						this.set({orbit : {theta, dist, speedT, speedH, height}});
						break;
					default:
					console.log(event.key, event.code)
				}
			},
			onKeyDown(event) {
				let { orbit } = this.get(),
					{theta, dist, speedT, speedH, height} = orbit;
				console.log("keyDown", event.key);
				switch(event.key){
					case "ArrowRight" :
						if(speedT == 0.0) 
							speedT = -0.03;
						this.set({orbit : {theta, dist, speedT, speedH, height}});
						break;
					case "ArrowLeft" : 
						if(speedT == 0.0) 
							speedT = 0.03;
						this.set({orbit : {theta, dist, speedT, speedH, height}});
						break;
					case "ArrowUp" : 
						if(speedH == 0.0) 
							speedH = 0.03;
						this.set({orbit : {theta, dist, speedT, speedH, height}});
						break;
					case "ArrowDown" : 
						if(speedH == 0.0) 
							speedH = -0.03;
						this.set({orbit : {theta, dist, speedT, speedH, height}});
						break;
					default:
					console.log(event.key, event.code)
				}
			},

			onKeyPress(event) {
				console.log("keyPressed", event.key);
				switch(event.key){
					case "Enter" : 
						this.set({orbit: Object.assign({},DEFAULT_ORBIT)});
						break;
					case " " : 
						console.log("printing matrices");
						this.set({printNextMatrix : true});
						const {tex, world, canvas} = this.get();
						this.createSprite(tex, world, canvas);
						break;
					default:
					console.log(event.key, event.code)
				}
			},

			onDragEnd() {
				let { dragging, orbit } = this.get();
				if (dragging) {
					console.log("not dragging canvas anymore");
					this.set({dragging: false, orbit, dragPos: null});
				}
			},
		},

		ondestroy() {
			this.set({ctx : null});
		},

		oncreate() {
			const 	vsSource = vertex_shader,
					fsSource = fragment_shader,
					viewport = {x : 0, y : -150, width:1500, height : 1000},
					canvas = this.refs.canvas;

			//world.add(this.doFrame.bind(this)); // as a compponent !
			const {world, renderer} = engine.init({canvas, viewport});

			engine.loadAssets({images : [
							"perso_picel",
							"perso_picel_baisse",
							"perso_picel_jump"
			]}).then(({textures})=>{
					const   walk = textures["perso_picel"],
							crouch = textures["perso_picel_baisse"],
							jump = textures["perso_picel_jump"],
							{width, height} = walk,
							r = h / 100;

					const fps = 6;
					const sprite = world.add(engine.createSprite(walk, {x : 100, y : 100, h : 600, w : 570}));
					sprite.setPivot(50,50);
					world.add(time=>{
						const   viewPort = renderer.viewport,
								frame = Math.floor(fps*time/1000) %4;

						console.log("at", time, "frame", frame)
						sprite.setTexCoords(frame * 57, 0, 57, 60);
						//viewPort.y --;
						//viewPort.width ++;
						//viewPort.height ++;
					}, sprite);
					this.set({sprite});
				})

			engine.start();
			
			this.on('destroy', () => set({destroyed : true}));
			this.set({world});
			//this.doFrame();

			//solve unresponsive keyup in chromium on linux
			document.addEventListener('keyup', this.onKeyUp.bind(this));
		},

	};

</script>